@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FYPeComm.Models.Product>

@{
}
<div class="breadcrumb">
    <h4>Breadcrumb trail through categories</h4>
</div>
<div class="container">
    <div id="categories">

    </div>
    @foreach (var item in Model)
    {
        <div class="product-preview">
            <img src="~/images/Products/white tshirt.jpg" />
            <p>@Html.DisplayFor(modelItem => item.ProdName)</p>
            <p>@Html.DisplayFor(modelItem => item.ProdPrice)</p>
        </div>
    }
</div>
