@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FYPeComm.Models.Product>

@{
}
<h4>All Products</h4>
<hr />
<div class="container">
    <div id="categories">

    </div>
    @foreach (var item in Model)
    {
        <a class="nolinkstyle" href=@Url.Action("Details", "Products", new { Area = "Store", id = item.ProdId })>
            <div class="product-preview">
                <img src=@Url.Content(item.ProdImg) alt="Product Image" />
                <h5>@Html.DisplayFor(modelItem => item.ProdName)</h5>
                <h5>@Html.DisplayFor(modelItem => item.ProdPrice)</h5>
            </div>
        </a>
    }
</div>
