body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Microsoft MHei';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.padleft {
    padding-left: 10px;
}

.breadcrumb {
    width:100%;
    display:flex;
}

.product-image {
    width: 100%;
}

.product-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

a.nolinkstyle { 
    color:black;
    text-decoration:none;
    padding:20px;
}

.product-preview {
    width:300px;
    
}

.product-preview img {
    width:100%;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .product-image {
        width: 50rem;
    }

    .product-list {
        flex-direction:row;
        align-items: flex-end;
    }

    .product-preview {
        width:200px;
    }

    .product-preview img {
        width: 200px;
    }

}