@model FYPeComm.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdId" class="control-label"></label>
                <input asp-for="ProdId" class="form-control" />
                <span asp-validation-for="ProdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdName" class="control-label"></label>
                <input asp-for="ProdName" class="form-control" />
                <span asp-validation-for="ProdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdDesc" class="control-label"></label>
                <input asp-for="ProdDesc" class="form-control" />
                <span asp-validation-for="ProdDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdPrice" class="control-label"></label>
                <input asp-for="ProdPrice" class="form-control" />
                <span asp-validation-for="ProdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdImg" class="control-label"></label>
                <input asp-for="ProdImg" class="form-control" />
                <span asp-validation-for="ProdImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCatId" class="control-label"></label>
                <select asp-for="SubCatId" class ="form-control" asp-items="ViewBag.SubCatId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

