@model FYPeComm.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdId" />
            <div class="form-group">
                <label asp-for="ProdName" class="control-label">Product Name</label>
                <input asp-for="ProdName" class="form-control" />
                <span asp-validation-for="ProdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdDesc" class="control-label">Product Description</label>
                <input asp-for="ProdDesc" class="form-control" />
                <span asp-validation-for="ProdDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdPrice" class="control-label">Price</label>
                <input asp-for="ProdPrice" class="form-control" />
                <span asp-validation-for="ProdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdImg" class="control-label">Product Image URL</label>
                <input asp-for="ProdImg" class="form-control" />
                <span asp-validation-for="ProdImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCatId" class="control-label">Product Category</label>
                <select asp-for="SubCatId" class="form-control" asp-items="ViewBag.SubCatId"></select>
                <span asp-validation-for="SubCatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "Products", new { Area = "Admin" })';"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</button>
</div>

