<h2>Admin Panel</h2>

<div id="admin_options">
    <div id="option">
        <button class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "ProductDetails", new { Area = "Admin" })';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add/Edit Product Colour Size links</button>
    </div>
    <div id="option">
        <button class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "Products", new { Area = "Admin" })';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add/Edit Product</button>
    </div>
</div>